
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Learningkids.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


  
  
                        


</head>
<body background="{% static 'Kids/back.jpg' %}">



        <link href="{% static 'Kids/webchat.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'Kids/webchat.min.js' %}"></script><script> Init('?botID=59814&appID=webchat', 600, 600, 'https://dvgpba5hywmpo.cloudfront.net/media/image/aFMdjgpKjbtKNeC2dBTuov56R', 'bubble', '#00AFF0', 90, 90, 62.99999999999999, '', '1', '#FFFFFF', '#FFFFFF', 1); /* for authentication of its users, you can define your userID (add &userID={login}) */ </script>
                        
            









    

<nav class="navbar navbar-inverse navbar-fixed-top" style="margin: 0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LearningKids.com</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Courses</a></li>
      <li><a href="#">Contact</a></li>
     
      &nbsp;
      <li><a href="#">+91-8483834970</a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>


      

<div class="container-fluid" style="height:60%;width:100%;">
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="height:100%;width:100%;">

      <div class="item active">
        
        <img src="{% static 'download2.jpg' %}" alt="Los Angeles" style="height:100%;width:100%;">
        <div class="carousel-caption">
                <h1>Self learning is Smart Study</h1>
                <h3>Under the Tree</h3>
              </div>
           </div>

      <div class="item">
        <img src="{% static 'download.jpg' %}" alt="Chicago" style="height:100%;width:100%;">
        <div class="carousel-caption">
          <h1>Best way to learn</h1>
          <h3>Self Study explores way to opportunity</h3>
        </div>
      </div>
    
      <div class="item">
        <img src="{% static 'download1.jpg'%} " alt="New York" style="height:100%;width:100%;">
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container-fluid">
        <div class="jumbotron" style="opacity:0.95;background-color:green;color:white">
              <h1>Tutor's Desk</h1>
              <p>Chatbot has ability to solve all your queries.</p>
              <blockquote>
                <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
                <footer><strong>Today's news</strong></footer>
              </blockquote>
            </div>
          </div>



<div class="container-fluid">
        <div class="jumbotron" style="opacity:0.95;background-color:orange">
          <h1>Nobody learns better than Kids</h1> 
          <p>Educational platform for smart and self learning Kids
          </p> 
        </div>
        
      </div>

     <nav class="navbar navbar-inverse " style="margin: 0px;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">LearningKids.com</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">www.leaningkids.com</a></li>
          <li><a href="#">premtiwari508@gmail.com</a></li>
          <li><a href="#">fb.premtiwari.com</a></li>
         
          &nbsp;
          <li><a href="#">+91-8483834970</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sitemap</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Contact Us</a></li>
        </ul>
      </div>
    </nav>
     



</body>
</html>
